
body {
  background-color: #413839;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  padding-top: 160px;
}

.fa-imdb, .fa-twitter {
    color: #fff;
}

.fa-imdb:hover, .fa-twitter:hover {
  color: #800517;
}

.navbar-default {
  background-color: #000;
  border-color: #000;
  border-radius: 0px;
  box-shadow: 0px 0px 40px 5px #b6b6b4;
  padding: 5px 40px 40px 40px;
}
.navbar-default .navbar-brand {
  color: #fff;
  padding-top: 0;
  margin-top: 0;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #800517;
}
.navbar-default .navbar-text {
  color: #fff;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #800517;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-toggle {
  border-color: #c0392b;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #c0392b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffbbbc;
}


.splash-container {
  padding: 2% 12%;
}

.splash-container h3 {
  margin-top: 0;
}

.sub-panel {
  padding: 2% 12%;
  margin-top: 50px;
}

.video-panel {
  padding: 2% 12% 10% 12%;
  margin-top: 50px;
}

.bg-black {
  background-color: #000;
}

.img-main-headshot {
max-width: 90%;
max-height: auto;
}

.gallery-row {
  padding-bottom: 25px;
}

.contact-me-btn {
  margin: 30px 0px;
}

.footer-bg {
  background-color: #000;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 20px;
}


.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th,
.table-borderless thead tr td,
.table-borderless tfoot tr th,
.table-borderless tfoot tr td {
    border: none;
}


.blank-cell {
  color: #000;
}

.modal-dialog {
}
.thumbnail {
  margin-bottom: 6px;
}

.carousel-control.left,.carousel-control.right {
  background-image: none;
  margin-top: 10%;
  width: 5%;
}

.styled-btn {
  background-color: #fff;
  color: #800517;
  border-color: #fff;
  border-radius: 15px 50px 30px;
}

.styled-btn:hover {
  background-color: #800517;
  color: #fff;
  border-color: #fff;
}
